{% extends 'frontEndBundle:Base:footer.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block content %}
    <div class="c-layout-page">
        <div id="container">
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-4 -->
            <section class="c-layout-revo-slider c-layout-revo-slider-7" dir="ltr">
                <div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
                    <div class="c-singup-form">
                        <h3 class="c-font-54 c-font-thin c-font-white c-margin-b-40 c-font-uppercase">
                            bienvenue sur le site de l'<span class="c-theme-font c-font-bold">EMS</span> de los santos
                        </h3>

                        <h5 class="c-font-24 c-font-thin c-font-uppercase c-font-white c-subtitle c-margin-b-40">
                            Les meilleurs médecins pour les meilleurs soins !
                        </h5>
                    </div>
                    <div class="tp-banner rev_slider" data-version="5.0">
                        <ul>
                            <!--BEGIN: SLIDE #1 -->
                            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                                <img
                                        alt="Ambulance1"
                                        src="{{ asset('images/acceuil/ambulance1.jpg') }}"
                                        data-bgposition="center center"
                                        data-bgfit="cover"
                                        data-bgrepeat="no-repeat"
                                >
                            </li>
                            <!--END -->

                            <!--BEGIN: SLIDE #2 -->
                            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                                <img
                                        alt="Hopital1"
                                        src="{{ asset('images/acceuil/20170610143946_1.jpg') }}"
                                        data-bgposition="center center"
                                        data-bgfit="cover"
                                        data-bgrepeat="no-repeat"
                                >
                            </li>

                            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                                <img
                                        alt="Hopital1"
                                        src="{{ asset('images/acceuil/ambulance2.jpg') }}"
                                        data-bgposition="center center"
                                        data-bgfit="cover"
                                        data-bgrepeat="no-repeat"
                                >
                            </li>

                            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                                <img
                                        alt="Hopital1"
                                        src="{{ asset('images/acceuil/20170610144041_1.jpg') }}"
                                        data-bgposition="center center"
                                        data-bgfit="cover"
                                        data-bgrepeat="no-repeat"
                                >
                            </li>

                            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                                <img
                                        alt="Hopital1"
                                        src="{{ asset('images/acceuil/ambulance3.png') }}"
                                        data-bgposition="center center"
                                        data-bgfit="cover"
                                        data-bgrepeat="no-repeat"
                                >
                            </li>
                            <!--END -->
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block scriptsPage %}
    <script>
        $(document).ready(function () {
            var slider = $('.c-layout-revo-slider .tp-banner');
            var cont = $('.c-layout-revo-slider .tp-banner-container');

            var api = slider.show().revolution({
                sliderType: "standard",
                sliderLayout: "fullscreen",
                responsiveLevels: [2048, 1024, 778, 480],
                gridwidth: [1170, 1024, 778, 480],
                gridheight: [620, 768, 960, 720],
                delay: 4000,
                startwidth: 1170,
                startheight: 620,

                touchenabled: "on",

                navigation: {
                    keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "on",
                    arrows: {
                        style: "circle",
                        enable: true,
                        hide_onmobile: false,
                        hide_onleave: false,
                        tmp: '',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 30,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 30,
                            v_offset: 0
                        }
                    }
                },

                spinner: "spinner2",

                shadow: 0,
                fullWidth: "off",
                forceFullWidth: "off",
                disableProgressBar: "on",

                hideThumbsOnMobile: "on",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "on",
                hideArrowsOnMobile: "on",
                hideThumbsUnderResolution: 0
            });

            api.bind("revolution.slide.onchange", function (e, data) {

                $('.c-layout-header').removeClass('hide');

                setTimeout(function () {
                    $('.c-singup-form').fadeIn();
                }, 1500);
            });

            $('#test').change(function () {
                $(this).css('height','1100px');
            })
        }); //ready
    </script>

    <style>
        .tp-banner-container.tp-fullscreen, #container{
            height: 890px !important;
        }
    </style>
{% endblock %}