{% set demoPath = '/includes/demos/'%}{% set pluginsPath = '/includes/plugins' %} {% set basePath = '/includes/base/' %}

<!--[if IE 9]>
<html lang="fr" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8"/>
    <title>LSMS - {% block title %}{{ title }}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all'
          rel='stylesheet' type='text/css'>
    <link href="{{ asset('/includes/plugins/socicon/socicon.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/includes/plugins/bootstrap-social/bootstrap-social.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/includes/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/includes/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/includes/plugins/animate/animate.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/includes/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN: BASE PLUGINS  -->
    <link href="{{ asset('/includes/plugins/revo-slider/css/settings.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/includes/plugins/revo-slider/css/layers.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/includes/plugins/revo-slider/css/navigation.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/includes/plugins/cubeportfolio/css/cubeportfolio.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/includes/plugins/owl-carousel/assets/owl.carousel.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/includes/plugins/fancybox/jquery.fancybox.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/includes/plugins/slider-for-bootstrap/css/slider.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END: BASE PLUGINS -->
    <!-- BEGIN: PAGE STYLES -->
    <link href="{{ asset('/includes/plugins/ilightbox/css/ilightbox.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END: PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="{{ asset('/includes/demos/index/css/plugins.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/includes/demos/index/css/components.css') }}" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/includes/demos/index/css/themes/default.css') }}" rel="stylesheet" id="style_theme" type="text/css"/>
    <link href="{{ asset('/includes/demos/index/css/custom.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('custom/custom.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>

<body class="c-layout-header-fixed c-layout-header-mobile-fixed">
<!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
<!-- BEGIN: HEADER -->
    {% block header %}{% endblock %}
<!-- END: HEADER -->
<!-- END: LAYOUT/HEADERS/HEADER-1 -->
<!-- BEGIN: CONTENT/USER/FORGET-PASSWORD-FORM -->

{% block content %}{% endblock %}

<!-- END: PAGE CONTAINER -->
<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-6 -->
<a name="footer"></a>
<footer class="c-layout-footer c-layout-footer-6 c-bg-grey-1">
    {% block footer %}{% endblock %}
</footer>
<!-- END: LAYOUT/FOOTERS/FOOTER-6 -->
<!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
<div class="c-layout-go2top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END: LAYOUT/FOOTERS/GO2TOP -->
<!-- BEGIN: LAYOUT/BASE/BOTTOM -->
<!-- BEGIN: CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../../assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="{{ asset('/includes/plugins/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/jquery-migrate.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/jquery.easing.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/reveal-animate/wow.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/demos/index/js/scripts/reveal-animate/reveal-animate.js') }}" type="text/javascript"></script>
<!-- END: CORE PLUGINS -->
<!-- BEGIN: LAYOUT PLUGINS -->
<script src="{{ asset('/includes/plugins/revo-slider/js/jquery.themepunch.tools.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/revo-slider/js/jquery.themepunch.revolution.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/revo-slider/js/extensions/revolution.extension.slideanims.min.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/revo-slider/js/extensions/revolution.extension.layeranimation.min.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/revo-slider/js/extensions/revolution.extension.navigation.min.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/revo-slider/js/extensions/revolution.extension.video.min.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/revo-slider/js/extensions/revolution.extension.parallax.min.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/owl-carousel/owl.carousel.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/counterup/jquery.waypoints.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/counterup/jquery.counterup.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/fancybox/jquery.fancybox.pack.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/smooth-scroll/jquery.smooth-scroll.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/typed/typed.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/slider-for-bootstrap/js/bootstrap-slider.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/js-cookie/js.cookie.js') }}" type="text/javascript"></script>
<!-- END: LAYOUT PLUGINS -->
<!-- BEGIN: THEME SCRIPTS -->
<script src="{{ asset('/includes/base/js/components.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/base/js/components-shop.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/base/js/app.js') }}" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        App.init(); // init core
    });
</script>
<!-- END: THEME SCRIPTS -->
<!-- BEGIN: PAGE SCRIPTS -->
<script src="{{ asset('/includes/demos/default/js/scripts/revo-slider/slider-4.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/isotope/isotope.pkgd.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/isotope/imagesloaded.pkgd.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/isotope/packery-mode.pkgd.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/ilightbox/js/jquery.requestAnimationFrame.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/ilightbox/js/jquery.mousewheel.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/ilightbox/js/ilightbox.packed.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/demos/default/js/scripts/pages/isotope-gallery.js') }}" type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/revo-slider/js/extensions/revolution.extension.parallax.min.js') }}"
        type="text/javascript"></script>
<script src="{{ asset('/includes/plugins/revo-slider/js/extensions/revolution.extension.kenburn.min.js') }}"
        type="text/javascript"></script>
<!-- END: PAGE SCRIPTS -->
<!-- END: LAYOUT/BASE/BOTTOM -->
</body>

</html>