{% trans_default_domain 'FOSUserBundle' %}

<div class="col-lg-6 col-lg-offset-3">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="c-font-24 c-font-sbold">Bonjour !</h3>
            <p>Merci de vous connecter</p>
        </div>
        <div class="panel-body">
            <form role="form" action="{{ path("fos_user_security_check") }}" method="post" >
                <div class="form-group">
                    <label for="_username" class="hide">Email</label>
                    <input type="text" class="form-control input-lg c-square" id="username" placeholder="Nom d'utilisateur" value="{{ last_username }}" name="_username">
                </div>
                <div class="form-group">
                    <label for="password" class="hide">Password</label>
                    <input type="password" class="form-control input-lg c-square" id="password" placeholder="Mot de passe" name="_password" required="required">
                </div>
                {% if error %}
                    <p class="alert alert-warning" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endif %}
                <div class="form-group">
                    <div class="c-checkbox">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="c-check">
                        <label for="login-rememberme" class="c-font-thin c-font-17">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span> Remember Me </label>
                    </div>
                </div>
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div class="form-group">
                    <input type="submit" id="_submit" name="_submit" value="Connection" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <p>Vous avez oublié votre mot de passe : <a href="{{ url('fos_user_resetting_request') }}" data-toggle="modal" class="c-btn-forgot c-right">Cliquez-ici</a></p>
        </div>
    </div>
</div>